*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-descricao{
    display: flex;
    flex-direction: row;
}

.container-icon-excluir, .container-icon-editar{
    cursor: pointer;
}

.container-icon-excluir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-icon-editar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
