* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
  }
  
  .header_span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  
    color: #0E8750;
  }
  
  .header_img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 16px;
  }
  
  .linha {
    background-color: #ACD9C5;
    border: 1px solid #ACD9C5;
    margin-bottom: 24px;
    width: 100%;
  
  }
  .collum {
    display: flex;
    flex-direction: column;
  }
  
  .corpo {
    margin-bottom: 7px;
    
    
  }
  
  .selecionado {
    background-color:  #DA0175;
    border: 1px solid #DA0175;
    height: 82px;
    width: 0;
  }
  
  .flex {
    display: flex;
  
  }
  
  .logoRow {
    display: flex;
    margin-right: 25px;
  }
  
  button {
    all:unset;
    padding: 4px 40px;
    
    cursor: pointer;
    text-align: center;
  
    margin-right: 20px;
  
    
    margin-top: 0;
    width: 266px;
    height: 33px;
    left: calc(50% - 266px/2 - 1px);
    top: calc(50% - 33px/2 - 0.5px);
    text-align: center;
    flex-grow: 1;
    max-width: 266px;
    background: #DA0175;
    border-radius: 10px;
  
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #F8F8F9;
    flex: none;
   
    flex-grow: 0;
  }
  
  
  
  .corpo span {
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #3F3F55;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
  }
  
  .div--row {
    display: flex;
  }
  
  .principal {
    display: flex;
    justify-content: space-around;
  }
  
  input {
    all: unset;
    padding: 7px 8px;
    width: 300px;
  
  background: #FFFFFF;
  border-radius: 10px;
  
  }
  
  input::placeholder {
    font-family: 'Nunito', sans-serif;
  
  font-size: 18px;
  line-height: 25px;
  
  color: #747488;
  }
  
  
  div.MuiBox-root.css-zj02u0 {
    margin:0;
    padding: 0;
    height: 1000px;
  }
  
  div#vertical-tabpanel-1 {
    width: 100vw;
  }
  .container {
   
    padding-left: 200px;
    background: #F8F8F9;
    flex: none;
    order: 0;
    flex-grow: 1;
    padding: 32px;
    height: 100vh;
    width: 100vw;
  
  }