#vertical-tabpanel-0 {
  display: none;
}
/*cor da barra na verceu*/
.css-7ozjwe {
  background-color: #da0175;
}

/*cor do span das paginas na verceu*/
.MuiTabs-indicator.css-7ozjwe {
  background-color: #da0175;
}

.MuiTabs-indicator {
  color: #da0175;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon.MuiTab-textColorPrimary.Mui-selected.css-aym9vq-MuiButtonBase-root-MuiTab-root {
  color: #da0175;
}

.MuiTab-iconWrapper {
  color: #da0175;
}

span.MuiTabs-indicator.css-10d9dml-MuiTabs-indicator {
  background-color: #da0175;
}

.MuiBox-root .css-19kzrtu {
  padding: 0;
}

.css-fjq3bx-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #da0175;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon.Mui-selected {
  color: #da0175;
}

.css-13b5x29-MuiButtonBase-root-MuiTab-root.Mui-selected label {
  background-color: #da0175;
}
