.clients-page {
  background-color: var(--light-grey);
  width: calc(100vw - 125px);
  height: 100vh;
  
  /*TESTE*/
  /* margin-top: 30px; */
  /* padding: 0 164px 0 208px; */
}

.container-clients-page {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

.clients-page-icon,
.clients-page-info {
  display: flex;
  justify-content: space-between;
}
.clients-page-icon {
  width: 154px;
}

.clients-page-icon span {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.clients-page-info {
  width: 600px;
}

.add-btn {
  background-color: var(--pink);
  display: flex;

  color: var(--light-grey);
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.input-search {
  background-color: #ffffff;
  display: flex;
  width: 322px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-left: 16px;
  border-radius: 10px;

  color: #747488;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
